production:
  amqp_channel:       ''
  queue_id:           ''
  cert_dir:           ''
  v_host_config_dir:  ''
  webserver_config:   ''
  shared_config:      ''
  upstream_config:    ''
  nginx_command:      ''
  routers:            []
development:
  amqp_channel:       ''
  queue_id:           ''
  cert_dir:           ''
  v_host_config_dir:  ''
  webserver_config:   ''
  shared_config:      ''
  upstream_config:    ''
  nginx_command:      ''
  routers:            []
test:
  amqp_channel:       ''
  queue_id:           ''
  cert_dir:           ''
  v_host_config_dir:  ''
  webserver_config:   ''
  shared_config:      ''
  upstream_config:    ''
  nginx_command:      ''
  routers:            []